@media only screen and (max-width: 900px) {
    #ic-logo,
    #ic-on-campus,
    #ic-online,
    #ic-login {
        display: inline-block;
        visibility: visible;
        margin: 8%;
    }

    #menu div,
    #ic-colmar-academy {
        display: none;
    }

    #intro_section {
        flex-direction: column;
    }

    #intro_section img {
        width: 100%;
        padding: 0px;
    }

    #intro_content {
        padding: 32px 16px;
    }

    #intro_content > button {
        width: 100%;
        border: none;
        color: white;
        background-color: rgb(155, 155, 155);
    }


    .news {
        margin-bottom: 32px;
    }

    #news_section {
        margin: 16px;
        border-bottom: 1px solid rgb(233 234 234);
        display: flex;
        flex-direction: column;
    }

    #keep_practicing {
        display: none;
    }

    .news img {
        width: 100%;
    }

    #other_news {
        width: 100%;
        padding: 0px;
        
    }

    #other_news div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #other_news > div:not(:first-child) {
        padding: 0px;
        border-top: 0px;
        border-bottom: 0px;
        margin-bottom: 0px; 
    }
    
    #other_news > :first-child {
        padding: 0px;
        margin-bottom: 0px;
        border-bottom: 0px;
    }

    .news:hover {
        background-color: white;
    }
}